In [1]:
#  Created by jamal hussain shah topic Difference Between lapply() VS sapply() in R

In [2]:
print("Operations using lapply() function: ")

# Initializing list1
# list1 have three objects a, b, and c
# and they all are numeric objects (same data type)
list1 <- list(a = 1: 20, b = 25:30, c = 40:60)

# Printing the length of list1 objects
lapply(list1, length)

# Printing the sum of elements present in the
# list1 objects
lapply(list1, sum)

# Printing the mean of elements present in the
# list1 objects
lapply(list1, mean)

# Printing the cumulative sum of elements
# present in the list1 objects
lapply(list1, cumsum)

print("Operations using sapply() function: ")


# Initializing list2
# list2 have three objects a, b, and c
# and they all are numeric objects (same data
# type)
list2 <- list(a = 1: 20, b = 25:30, c = 40:60)

# Printing the length of list2 objects
sapply(list2, length)

# Printing the sum of elements
# present in the list2 objects
sapply(list2, sum)

# Printing the mean of elements
# present in the list2 objects
sapply(list2, mean)

# Printing the cumulative sum
# of elements present in the list2 objects
sapply(list2, cumsum)

[1] "Operations using lapply() function: "

$a
[1] 20

$b
[1] 6

$c
[1] 21

$a
[1] 210

$b
[1] 165

$c
[1] 1050

$a
[1] 10.5

$b
[1] 27.5

$c
[1] 50

$a
 [1]   1   3   6  10  15  21  28  36  45  55  66  78  91 105 120 136 153 171 190
[20] 210

$b
[1]  25  51  78 106 135 165

$c
 [1]   40   81  123  166  210  255  301  348  396  445  495  546  598  651  705
[16]  760  816  873  931  990 1050

[1] "Operations using sapply() function: "

 a  b  c
20  6 21

   a    b    c
 210  165 1050

   a    b    c
10.5 27.5 50.0

$a
 [1]   1   3   6  10  15  21  28  36  45  55  66  78  91 105 120 136 153 171 190
[20] 210

$b
[1]  25  51  78 106 135 165

$c
 [1]   40   81  123  166  210  255  301  348  396  445  495  546  598  651  705
[16]  760  816  873  931  990 1050

In [4]:
print("Operations using sapply() function: ")

# list1 have three objects a, b, and c
# and they all are numeric objects (same data type)
list1 <- list(a = 11:12, b = 1:10, c = 40:60)

# Printing the length of list1 objects as a list
sapply(list1, length, simplify = FALSE)

# Printing the sum of elements present
# in the list1 objects as a list
sapply(list1, sum, simplify = FALSE)

# Printing the mean of elements present
# in the list1 objects as a list
sapply(list1, mean, simplify = FALSE)

# Printing the cumulative sum of elements
# present in the list1 objects as a list
sapply(list1, cumsum, simplify = FALSE)

[1] "Operations using sapply() function: "

$a
[1] 2

$b
[1] 10

$c
[1] 21

$a
[1] 23

$b
[1] 55

$c
[1] 1050

$a
[1] 11.5

$b
[1] 5.5

$c
[1] 50

$a
[1] 11 23

$b
 [1]  1  3  6 10 15 21 28 36 45 55

$c
 [1]   40   81  123  166  210  255  301  348  396  445  495  546  598  651  705
[16]  760  816  873  931  990 1050

In [5]:
print("Operations using lapply() function: ")


# Initializing list1
# list1 have three objects a, b, and c
# and they all are numeric objects (same data type)
list1 <- list(a=11: 12, sample(c(1, 2, 5, 3),
							size=4, replace=FALSE),
			c=40: 60)

# Printing the length of list1 objects
lapply(list1, length)

# Printing the sum of elements present in the
# list1 objects
lapply(list1, sum)

# Printing the mean of elements present in the
# list1 objects
lapply(list1, mean)

# Printing the cumulative sum of elements present
# in the list1 objects
lapply(list1, cumsum)

print("Operations using sapply() function: ")

# Initializing list2
# list2 have three objects a, b, and c
# and they all are numeric objects (same data type)
list2 <- list(a=11: 12, sample(c(1, 2, 5, 3),
							size=4, replace=FALSE),
			c=40: 60)

# Printing the length of list2 objects
sapply(list2, length)

# Printing the sum of elements
# present in the list2 objects
sapply(list2, sum)

# Printing the mean of elements
# present in the list2 objects
sapply(list2, mean)

# Printing the cumulative sum of
# elements present in the list2 objects
sapply(list2, cumsum)

[1] "Operations using lapply() function: "

$a
[1] 2

[[2]]
[1] 4

$c
[1] 21

$a
[1] 23

[[2]]
[1] 11

$c
[1] 1050

$a
[1] 11.5

[[2]]
[1] 2.75

$c
[1] 50

$a
[1] 11 23

[[2]]
[1]  2  7  8 11

$c
 [1]   40   81  123  166  210  255  301  348  396  445  495  546  598  651  705
[16]  760  816  873  931  990 1050

[1] "Operations using sapply() function: "

 a     c
 2  4 21

   a         c
  23   11 1050

    a           c
11.50  2.75 50.00

$a
[1] 11 23

[[2]]
[1]  3  8  9 11

$c
 [1]   40   81  123  166  210  255  301  348  396  445  495  546  598  651  705
[16]  760  816  873  931  990 1050

In [7]:
# tappy

set.seed(2)

data_set <- data.frame(price = round(rnorm(25, sd = 10, mean = 30)),
                       type = sample(1:4, size = 25, replace = TRUE),
                       store = sample(paste("Store", 1:4),
                                      size = 25, replace = TRUE))

head(data_set)

  price type store
1 21    2    Store 2
2 32    3    Store 3
3 46    4    Store 4
4 19    3    Store 4
5 29    1    Store 4
6 31    3    Store 4

In [12]:
# simplest example of appy

m1 <- matrix(C<-(1:10),nrow=5, ncol=6)
m1
a_m1 <- apply(m1, 2, sum)
a_m1

     [,1] [,2] [,3] [,4] [,5] [,6]
[1,] 1     6   1     6   1     6
[2,] 2     7   2     7   2     7
[3,] 3     8   3     8   3     8
[4,] 4     9   4     9   4     9
[5,] 5    10   5    10   5    10

[1] 15 40 15 40 15 40

In [14]:
# lappy

movies <- c("SPYDERMAN","BATMAN","VERTIGO","CHINATOWN")
movies_lower <-lapply(movies, tolower)
str(movies_lower)

List of 4
 $ : chr "spyderman"
 $ : chr "batman"
 $ : chr "vertigo"
 $ : chr "chinatown"

In [15]:
#sappy

dt <- cars
lmn_cars <- lapply(dt, min)
smn_cars <- sapply(dt, min)
lmn_cars

$speed
[1] 4

$dist
[1] 2

In [16]:
smn_cars

speed  dist
    4     2

In [21]:
# Slice vectorWe can use lapply() or sapply() interchangeable to slice a data frame. We create a function, below_average(), 
#that takes a vector of numerical values and returns a vector that only contains the values that are strictly 
#above the average. We compare both results with the identical() function"


below_ave <- function(x) {  
    ave <- mean(x) 
    return(x[x > ave])
}
dt_s<- sapply(dt, below_ave)
dt_l<- lapply(dt, below_ave)
identical(dt_s, dt_l)

[1] TRUE