In [8]:
# Created by Jamal Hussain shah for top Control Statements in R Programming

In [1]:
x <- 100

if(x > 10){
print(paste(x, "is greater than 10"))
}

[1] "100 is greater than 10"

In [2]:
x <- 5

# Check value is less than or greater than 10
if(x > 10){
print(paste(x, "is greater than 10"))
}else{
print(paste(x, "is less than 10"))
}

[1] "5 is less than 10"

In [3]:
x <- letters[4:10]

for(i in x){
print(i)
}

[1] "d"
[1] "e"
[1] "f"
[1] "g"
[1] "h"
[1] "i"
[1] "j"

In [4]:
# Defining matrix
m <- matrix(2:15, 2)

for (r in seq(nrow(m))) {
for (c in seq(ncol(m))) {
	print(m[r, c])
}
}

[1] 2
[1] 4
[1] 6
[1] 8
[1] 10
[1] 12
[1] 14
[1] 3
[1] 5
[1] 7
[1] 9
[1] 11
[1] 13
[1] 15

In [5]:
x = 1

# Print 1 to 5
repeat{
print(x)
x = x + 1
if(x > 5){
	break
}
}

[1] 1
[1] 2
[1] 3
[1] 4
[1] 5

In [6]:
# Checks value is either positive, negative or zero
func <- function(x){
if(x > 0){
	return("Positive")
}else if(x < 0){
	return("Negative")
}else{
	return("Zero")
}
}

func(1)
func(0)
func(-1)

[1] "Positive"

[1] "Zero"

[1] "Negative"

In [7]:
# Defining vector
x <- 1:10

# Print even numbers
for(i in x){
if(i%%2 != 0){
	next #Jumps to next loop
}
print(i)
}

[1] 2
[1] 4
[1] 6
[1] 8
[1] 10

In [10]:
# R program to illustrate
# if statement
a <- 76
b <- 67

# TRUE condition
if(a > b)
{
	c <- a - b
	print("condition a > b is TRUE")
	print(paste("Difference between a, b is : ", c))
}

# FALSE condition
if(a < b)
{
	c <- a - b
	print("condition a < b is TRUE")
	print(paste("Difference between a, b is : ", c))
}

[1] "condition a > b is TRUE"
[1] "Difference between a, b is :  9"

In [11]:
# R if-else-if ladder Example
a <- 67
b <- 76
c <- 99


if(a > b && b > c)
{
	print("condition a > b > c is TRUE")
} else if(a < b && b > c)
{
	print("condition a < b > c is TRUE")
} else if(a < b && b < c)
{
	print("condition a < b < c is TRUE")
}

[1] "condition a < b < c is TRUE"

In [12]:
# Following is val1 simple R program
# to demonstrate syntax of switch.

# Mathematical calculation

val1 = 6
val2 = 7
val3 = "s"
result = switch(
	val3,
	"a"= cat("Addition =", val1 + val2),
	"d"= cat("Subtraction =", val1 - val2),
	"r"= cat("Division = ", val1 / val2),
	"s"= cat("Multiplication =", val1 * val2),
	"m"= cat("Modulus =", val1 %% val2),
	"p"= cat("Power =", val1 ^ val2)
)
	
print(result)

Multiplication = 42NULL

In [13]:
# R Program to demonstrate
# the use of for loop
for (i in 1: 4)
{
	print(i ^ 2)
}

[1] 1
[1] 4
[1] 9
[1] 16

In [14]:
# R Program to demonstrate the use of
# for loop with vector
x <- c(-8, 9, 11, 45)
for (i in x)
{
	print(i)
}

[1] -8
[1] 9
[1] 11
[1] 45

In [15]:
# R Program to demonstrate the use of
# nested for loop
for (i in 1:3)
{
	for (j in 1:i)
	{
		print(i * j)
	}
}

[1] 1
[1] 2
[1] 4
[1] 3
[1] 6
[1] 9

In [16]:
# R Program to demonstrate the use of
# break in for loop
for (i in c(3, 6, 23, 19, 0, 21))
{
	if (i == 0)
	{
		break
	}
print(i)
}
print("Outside Loop")

[1] 3
[1] 6
[1] 23
[1] 19
[1] "Outside Loop"

In [17]:
# R program to illustrate while loop

result <- c("Hello World")
i <- 1

# test expression
while (i < 6) {

print(result)
	
# update expression
i = i + 1
}

[1] "Hello World"
[1] "Hello World"
[1] "Hello World"
[1] "Hello World"
[1] "Hello World"

In [18]:
# R program to illustrate while loop

result <- 1
i <- 1

# test expression
while (i < 6) {

print(result)
	
# update expression
i = i + 1
result = result + 1
}

[1] 1
[1] 2
[1] 3
[1] 4
[1] 5

In [19]:
# R program to illustrate repeat loop

result <- c("Hello World")
i <- 1

# test expression
repeat {

print(result)
	
# update expression
i <- i + 1
	
# Breaking condition
if(i >5) {
	break
}
}

[1] "Hello World"
[1] "Hello World"
[1] "Hello World"
[1] "Hello World"
[1] "Hello World"

In [20]:
# R program to illustrate repeat loop

result <- 1
i <- 1

# test expression
repeat {

print(result)
	
# update expression
i <- i + 1
result = result + 1

# Breaking condition
if(i > 5) {
	break
}
}

[1] 1
[1] 2
[1] 3
[1] 4
[1] 5