In [ ]:
# Created by jamal hussain shah R. Prog. Split function

In [1]:
# create a vector with 10 elements
vector=c(1,2,3,4,5,6,7,8,9,10)

# specify the chunk length as 2
chunklength=2

# split the vector by length
print(split(vector,ceiling(seq_along(vector) / chunklength)))

$`1`
[1] 1 2

$`2`
[1] 3 4

$`3`
[1] 5 6

$`4`
[1] 7 8

$`5`
[1]  9 10

In [2]:
# create a vector with 10 elements
vector=c(1,2,3,4,5,6,7,8,9,10)

# specify the chunk length as 5
chunklength=5

# split the vector by length
print(split(vector,ceiling(seq_along(vector) / chunklength)))

$`1`
[1] 1 2 3 4 5

$`2`
[1]  6  7  8  9 10

In [3]:
# create a vector with 10 elements
vector=c(1,2,3,4,5,6,7,8,9,10)

# specify the chunk number as 5
chunk_no=5

# split the vector by chunk number by specifying
# labels as FALSE
print(split(vector, cut(seq_along(vector),chunk_no,labels = FALSE)))

$`1`
[1] 1 2

$`2`
[1] 3 4

$`3`
[1] 5 6

$`4`
[1] 7 8

$`5`
[1]  9 10

In [5]:
# create sample data frame
df <- data.frame(Name=c('Priyank Mishra', 'Abhiraj Srivastava',
						'Pawananjani Kumar'),
				State= c("Islamabad", "lahore", "karachi"))

print(" Data frame before splitting: ")
df

# load stringr library
library(stringr)

# Split name column into firstname and last name
df[c('First Name', 'Last Name')] <- str_split_fixed(df$Name, ' ', 2)

# Rearrange columns and remove original name column
df <- df[c('First Name', 'Last Name', 'State')]

print(" Data frame after splitting: ")
df

[1] " Data frame before splitting: "

  Name               State
1 Priyank Mishra     Islamabad
2 Abhiraj Srivastava lahore
3 Pawananjani Kumar  karachi

[1] " Data frame after splitting: "

  First Name  Last Name  State
1 Priyank     Mishra     Islamabad
2 Abhiraj     Srivastava lahore
3 Pawananjani Kumar      karachi

In [6]:
# Define data
gender <- c("m", "f", "f", "f", "m", "m", "f", "m", "f", "f", "m")
height <- c(171, 164, 165, 170, 179, 180, 169, 179, 170, 171, 178)
df <- data.frame(gender, height)

# Print data frame
cat("Original data frame:\n")
print(df)

# Split data frame by gender
s <- split(df, df$gender)

# Print split data
cat("\nAfter splitting data:\n")
print(s)

Original data frame:
   gender height
1       m    171
2       f    164
3       f    165
4       f    170
5       m    179
6       m    180
7       f    169
8       m    179
9       f    170
10      f    171
11      m    178

After splitting data:
$f
   gender height
2       f    164
3       f    165
4       f    170
7       f    169
9       f    170
10      f    171

$m
   gender height
1       m    171
5       m    179
6       m    180
8       m    179
11      m    178

In [7]:
# Print data frame
cat("Original data frame:\n")
print(mtcars)

# Split mtcars data frame by gear
s <- split(mtcars, mtcars$gear)

# Print split data
cat("\nAfter splitting data:\n")
print(s)

Original data frame:
                     mpg cyl  disp  hp drat    wt  qsec vs am gear carb
Mazda RX4           21.0   6 160.0 110 3.90 2.620 16.46  0  1    4    4
Mazda RX4 Wag       21.0   6 160.0 110 3.90 2.875 17.02  0  1    4    4
Datsun 710          22.8   4 108.0  93 3.85 2.320 18.61  1  1    4    1
Hornet 4 Drive      21.4   6 258.0 110 3.08 3.215 19.44  1  0    3    1
Hornet Sportabout   18.7   8 360.0 175 3.15 3.440 17.02  0  0    3    2
Valiant             18.1   6 225.0 105 2.76 3.460 20.22  1  0    3    1
Duster 360          14.3   8 360.0 245 3.21 3.570 15.84  0  0    3    4
Merc 240D           24.4   4 146.7  62 3.69 3.190 20.00  1  0    4    2
Merc 230            22.8   4 140.8  95 3.92 3.150 22.90  1  0    4    2
Merc 280            19.2   6 167.6 123 3.92 3.440 18.30  1  0    4    4
Merc 280C           17.8   6 167.6 123 3.92 3.440 18.90  1  0    4    4
Merc 450SE          16.4   8 275.8 180 3.07 4.070 17.40  0  0    3    3
Merc 450SL          17.3   8 275.8 180 3.07 3.730 17.60  0  0    3    3
Merc 450SLC         15.2   8 275.8 180 3.07 3.780 18.00  0  0    3    3
Cadillac Fleetwood  10.4   8 472.0 205 2.93 5.250 17.98  0  0    3    4
Lincoln Continental 10.4   8 460.0 215 3.00 5.424 17.82  0  0    3    4
Chrysler Imperial   14.7   8 440.0 230 3.23 5.345 17.42  0  0    3    4
Fiat 128            32.4   4  78.7  66 4.08 2.200 19.47  1  1    4    1
Honda Civic         30.4   4  75.7  52 4.93 1.615 18.52  1  1    4    2
Toyota Corolla      33.9   4  71.1  65 4.22 1.835 19.90  1  1    4    1
Toyota Corona       21.5   4 120.1  97 3.70 2.465 20.01  1  0    3    1
Dodge Challenger    15.5   8 318.0 150 2.76 3.520 16.87  0  0    3    2
AMC Javelin         15.2   8 304.0 150 3.15 3.435 17.30  0  0    3    2
Camaro Z28          13.3   8 350.0 245 3.73 3.840 15.41  0  0    3    4
Pontiac Firebird    19.2   8 400.0 175 3.08 3.845 17.05  0  0    3    2
Fiat X1-9           27.3   4  79.0  66 4.08 1.935 18.90  1  1    4    1
Porsche 914-2       26.0   4 120.3  91 4.43 2.140 16.70  0  1    5    2
Lotus Europa        30.4   4  95.1 113 3.77 1.513 16.90  1  1    5    2
Ford Pantera L      15.8   8 351.0 264 4.22 3.170 14.50  0  1    5    4
Ferrari Dino        19.7   6 145.0 175 3.62 2.770 15.50  0  1    5    6
Maserati Bora       15.0   8 301.0 335 3.54 3.570 14.60  0  1    5    8
Volvo 142E          21.4   4 121.0 109 4.11 2.780 18.60  1  1    4    2

After splitting data:
$`3`
                     mpg cyl  disp  hp drat    wt  qsec vs am gear carb
Hornet 4 Drive      21.4   6 258.0 110 3.08 3.215 19.44  1  0    3    1
Hornet Sportabout   18.7   8 360.0 175 3.15 3.440 17.02  0  0    3    2
Valiant             18.1   6 225.0 105 2.76 3.460 20.22  1  0    3    1
Duster 360          14.3   8 360.0 245 3.21 3.570 15.84  0  0    3    4
Merc 450SE          16.4   8 275.8 180 3.07 4.070 17.40  0  0    3    3
Merc 450SL          17.3   8 275.8 180 3.07 3.730 17.60  0  0    3    3
Merc 450SLC         15.2   8 275.8 180 3.07 3.780 18.00  0  0    3    3
Cadillac Fleetwood  10.4   8 472.0 205 2.93 5.250 17.98  0  0    3    4
Lincoln Continental 10.4   8 460.0 215 3.00 5.424 17.82  0  0    3    4
Chrysler Imperial   14.7   8 440.0 230 3.23 5.345 17.42  0  0    3    4
Toyota Corona       21.5   4 120.1  97 3.70 2.465 20.01  1  0    3    1
Dodge Challenger    15.5   8 318.0 150 2.76 3.520 16.87  0  0    3    2
AMC Javelin         15.2   8 304.0 150 3.15 3.435 17.30  0  0    3    2
Camaro Z28          13.3   8 350.0 245 3.73 3.840 15.41  0  0    3    4
Pontiac Firebird    19.2   8 400.0 175 3.08 3.845 17.05  0  0    3    2

$`4`
                mpg cyl  disp  hp drat    wt  qsec vs am gear carb
Mazda RX4      21.0   6 160.0 110 3.90 2.620 16.46  0  1    4    4
Mazda RX4 Wag  21.0   6 160.0 110 3.90 2.875 17.02  0  1    4    4
Datsun 710     22.8   4 108.0  93 3.85 2.320 18.61  1  1    4    1
Merc 240D      24.4   4 146.7  62 3.69 3.190 20.00  1  0    4    2
Merc 230       22.8   4 140.8  95 3.92 3.150 22.90  1  0    4    2
Merc 280       19.2   6 167.6 123 3.92 3.440 18.30  1  0    4    4
Merc 280C      17.8   6 167.6 123 3.92 3.440 18.90  1  0    4    4
Fiat 128       32.4   4  78.7  66 4.08 2.200 19.47  1  1    4    1
Honda Civic    30.4   4  75.7  52 4.93 1.615 18.52  1  1    4    2
Toyota Corolla 33.9   4  71.1  65 4.22 1.835 19.90  1  1    4    1
Fiat X1-9      27.3   4  79.0  66 4.08 1.935 18.90  1  1    4    1
Volvo 142E     21.4   4 121.0 109 4.11 2.780 18.60  1  1    4    2

$`5`
                mpg cyl  disp  hp drat    wt qsec vs am gear carb
Porsche 914-2  26.0   4 120.3  91 4.43 2.140 16.7  0  1    5    2
Lotus Europa   30.4   4  95.1 113 3.77 1.513 16.9  1  1    5    2
Ford Pantera L 15.8   8 351.0 264 4.22 3.170 14.5  0  1    5    4
Ferrari Dino   19.7   6 145.0 175 3.62 2.770 15.5  0  1    5    6
Maserati Bora  15.0   8 301.0 335 3.54 3.570 14.6  0  1    5    8